{% extends 'wplife/base.html' %}

{% block title %}

    Webprogramlife

{% endblock %}

{% block content %}
             <h1 style="color: black;font-size: 14px;text-indent: 1.5em;text-align: justify;padding: 3px;font-family: 'Helvetica Neue', HelveticaArial, sans-serif;line-height: 1em;">Создавая свой сайт или программное обеспечение, не многие знают что процесс очень похож на покупку машины.
	Эти продукты мало создать, их нужно наполнить уникальной информацией о вас и вашей компании, сделать максимально удобным для посетителей и администратора, позаботиться о его долговечности и растущей популярности.</h1>
<h2 style="color: black;font-size: 14px;text-indent: 1.5em;text-align: justify;padding: 3px;font-family: 'Helvetica Neue', HelveticaArial, sans-serif;line-height: 1em;">Пред тем как запустить сайт в информационную сетку необходимо продумать его функционал, определить его стилистику, придумать или подобрать уникальный дизайн. Но решение всех организационных и технических задач не принесет никакой радости если сайт не будет доступен для клиентов и посетителей из-за проблем с хостингом, низким уровнем безопасности или регулярными перебоями со своевременным наполнением.</h2>
	<h3 style="color: black;font-size: 14px;text-indent: 1.5em;text-align: justify;padding: 3px;font-family: 'Helvetica Neue', HelveticaArial, sans-serif;line-height: 1em;">Ведь неудобно развивать свой интернет магазин, занимаясь поиском новых поставщиков и совмещать это с ежемесячным поиском хорошего хоста.
Или, например, не будет никакой прибыли, если ваши клиенты, задавая поиск по ключевым словам, будут попадать на сайт конкурента.</h3>
<h4 style="color: black;font-size: 14px;text-indent: 1.5em;text-align: justify;padding: 3px;font-family: 'Helvetica Neue', HelveticaArial, sans-serif;line-height: 1em;">Наша фирма занимается комплексным обслуживанием сайтов, раскруткой и продвижением готовых проектов,
разработкой уникального дизайна любых 2D и 3D площадок, созданием и расширением функционала ПО, приложений и игр,
мобильными разработками и внедрением IT технологий, сотрудничая с любой фирмой из стран СНГ или стран остального мира.
В списках нашего сотрудничества большинство клиентов из таких стран как Российская федерация, Беларусь, Польша и все остальные.</h4>
	<h5 style="color: black;font-size: 14px;text-indent: 1.5em;text-align: justify;padding: 3px;font-family: 'Helvetica Neue', HelveticaArial, sans-serif;line-height: 1em;">Мы подбираем оптимальное сочетание функций продукта не выходя за рамки вашего бюджета, полностью ориентируясь на нужды ваших потребителей.</h5>
<h6 style="color: black;font-size: 14px;text-indent: 1.5em;text-align: justify;padding: 3px;font-family: 'Helvetica Neue', HelveticaArial, sans-serif;line-height: 1em;">Хотите ли вы просто сайт-визитку, обычный сайт, сайт который продает, разработать мобильное приложение, создать программное обеспечение фирмы, сделать бота для облегчения обслуживания сайта или повседневных функций,
обеспечить безопасность своих IT-технологий или же просто довести свой сайт до ума и поднять его в ТОП рейтинг поисковика страны или мира…нам не важно что делать,
нам важно чтобы у этого было качество!</h6>
{% endblock %}
